/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  background-color: white;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  position: relative;
  top: 0.4em;
  text-transform: capitalize;
}

.header .btn {
  font-size: 2.2em;
}


/* Custom page footer */
.footer {
  background-color: #333333;
  border-top: 1px solid #e5e5e5;
  color: whitesmoke;
  text-align: justify;
}

  .footer  a > i.fa {
    /*padding: 0 2px 0 2px;*/
  }

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

.app-header{
  background-color: #f26629;
  color: whitesmoke;
  font-size: 1.5em;
  margin-top: -1em;
  padding: 0.8em;
}

.project-name {
  padding-left: 0.5em;
}

.form-control {
  width: 95%;
  display: inline-block;
}

.answers {
  position: relative;
  top: 16em;
}

.answers > .control-group {
  padding: 1em;
}

#sw-wrapper {
  top: 27em !important;
}

#sw-header {
  display: none;
}

#sw-frame {
  -webkit-box-sizing:content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.header a,
.footer a {
  color: #f26629;
}

  .header a:hover,
  .header a:focus,
  .header a:active,
  .header a.active,
  .footer a:hover,
  .footer a:focus,
  .footer a:active,
  .footer a.active{
    color: #f28e29;
  }

.sw-center {
  text-align: center;
}

.btn-primary {
  color: #ffffff;
  background-color: #f26629;
  border-color: #ed5e18;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #f28e29;
  border-color: #e27e19;
}

.btn-picture,
.btn-picture:hover,
.btn-picture:focus,
.btn-picture:active,
.btn-picture.active {
  color: #ffffff;
}

.btn-picture {
  background-color: #222;
}

.btn-picture:hover,
.btn-picture:focus,
.btn-picture:active,
.btn-picture.active {
  background-color: #333;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #f28429;
  border-color: #f28e29;
}