<div class="app-header">
  <i class="fa fa-book"></i><span class="project-name">New Checklist</span>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <form id="checklistForm" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="nameTxt">Name </label>  
            <div class="controls">
              <input type="text" id="nameTxt" name="nameTxt" ng-model="checklist.name" class="form-control"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="descriptionTxt">Address </label>  
            <div class="controls">
              <input type="text" id="descriptionTxt" name="descriptionTxt" ng-model="checklist.description" class="form-control"/>
            </div>
          </div>
          <br/>
          <div class="button-group">
            <button type="submit" role="submit" class="btn btn-primary btn-block">
              Save
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
